<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页-问答平台</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<% include includes/common.ejs %>
	<style>
	</style>
</head>
<body>
	<% include includes/nav.ejs %>
	<div class="container-fluid mt-4 row">
		<div class="col-lg-3">12</div>
		<div class="col-lg-6">22</div>
		<div class="col-lg-3">33</div>
	</div>
</body>
</html>